<header class="fixed" id="fixednav">
  <div class="navigation">

  <a href="http://www.sfchronicle.com" target="_blank">
    <div class="logo-link">
        <img src="./assets/logos/sf_logo_black.png"></img>
      </div>
  </a>

  <div class="navlink" id="hours12nav"><a href="#hours12">First 12 hours</a></div>

  <div class="navtext">Day</div>
  <div class="navlink day" id="day1nav"><a href="#day1">1</a></div>
  <div class="navlink day" id="day2nav"><a href="#day2">2</a></div>
  <div class="navlink day" id="day3nav"><a href="#day3">3</a></div>
  <div class="navlink day" id="day4nav"><a href="#day4">4</a></div>
  <div class="navlink day" id="day5nav"><a href="#day5">5</a></div>
  <div class="navlink day" id="day6nav"><a href="#day6">6</a></div>

  <div class="navlink future" id="futurenav"><a href="#future">Future</a></div>

  </div>
</header>
