<div class="section">

  <div class="section-text">
    <div class="timestamp"><%= data[0].timestamp %></div>
    <div class="event"><%= data[0].headline %></div>
    <div class="text"><%= data[0].text %></div>
  </div>

  <div class="section-asset">
    <div class="carousel slideshow js-flickity" data-flickity-options='{ "imagesLoaded": true }'>
  
		  <% data[0].slideshow.forEach(function(slide) { %>

		   <div class="carousel-cell">
		    <%= slide.image %>
        <div class="caption"><%= slide.caption %> <span class="byline"><%= slide.credit %></span></div>
		  </div>

		  <% }); %>

		</div>
  </div>
  
</div>