<% data.forEach(function(d) { %>

<div class="section center">
  <div class="section-text">
    <div class="timestamp"><%= d.timestamp %></div>
    <div class="event center"><%= d.headline %></div>
    <p class="center"><%= d.text %></p>
    <div class="section-asset">

	    <div class="grid">

	    	<div class="story">
	    		<a href="//www.sfchronicle.com/bayarea/article/Rebuild-or-rethink-Fire-destruction-offers-12314516.php" target="_blank">
	    			<div class="story-img">
	    				<img src="//ww1.hdnux.com/photos/67/04/04/14434596/3/premium_gallery_landscape.jpg">
	    			</div>
	    			<div class="story-title">To rebuild or rethink</div>
	    		</a>
	    	</div>

	    	<div class="story">
	    		<a href="//www.sfchronicle.com/bayarea/article/Wine-Country-fires-In-sad-aftermath-for-sale-12402591.php" target="_blank">
	    			<div class="story-img">
	    				<img src="//ww1.hdnux.com/photos/67/04/04/14630003/3/premium_gallery_landscape.jpg">
	    			</div>
	    			<div class="story-title">Burned lots for sale</div>
	    		</a>
	    	</div>

	    	<div class="story">
	    		<a href="//www.sfchronicle.com/news/article/The-fight-after-the-fires-Loved-ones-keep-vigil-12332531.php" target="_blank">
	    			<div class="story-img">
	    				<img src="//ww1.hdnux.com/photos/67/04/04/14485163/3/premium_gallery_landscape.jpg">
	    			</div>
	    			<div class="story-title">Badly burned survivors</div>
	    		</a>
	    	</div>

	    	<div class="story">
	    		<a href="//www.sfchronicle.com/bayarea/article/After-Wine-Country-fires-victims-confront-12436268.php" target="_blank">
	    			<div class="story-img">
	    				<img src="//ww1.hdnux.com/photos/67/04/04/14709714/3/premium_gallery_landscape.jpg">
	    			</div>
	    			<div class="story-title">Survivors’ emotional ruins</div>
	    		</a>
	    	</div>

	    	<div class="story">
	    		<a href="//www.sfchronicle.com/business/article/Why-tougher-fire-safety-rules-for-utility-12370180.php" target="_blank">
	    			<div class="story-img">
	    				<img src="//ww1.hdnux.com/photos/67/04/04/14567529/3/premium_gallery_landscape.jpg">
	    			</div>
	    			<div class="story-title">Long delay for tougher rules</div>
	    		</a>
	    	</div>

	    	<div class="story">
	    		<a href="//www.sfchronicle.com/bayarea/article/Alerts-reached-few-in-Sonoma-County-in-early-12477770.php" target="_blank">
	    			<div class="story-img">
	    				<img src="//ww1.hdnux.com/photos/67/04/04/14792699/3/premium_gallery_landscape.jpg">
	    			</div>
	    			<div class="story-title">Few got early alerts</div>
	    		</a>
	    	</div>

	    </div>

	  </div>
  </div>
</div>

<% }); %>


