.frontpagegif {
  max-width: 300px;

  @media @tablet{
    margin: 1.5em auto 0;
  }
}

.top-section{
  .display-flex;
  .align-items(center);
  background:#333;
  color:#fff;

  @media @tablet{
    .flex-direction(column-reverse);
  }
}

.intro-text{
  .flex(0 0 50%);

  .title{
    max-width:600px;
    line-height:1;
    padding:50px 0 0;
    width:90%;
    margin-bottom:10px;

    @media @tablet{
      padding:0 10px;
      width:100%;
      margin:20px auto 10px;
      font-size:30px;
      text-align:center;
    }
  }

  .intro{
    font-size:17px;

    @media @tablet{
      border:none;
      margin-bottom:0;
    }

    p{
      padding:0;

      @media @tablet{
        text-align:center;
      }
    }
  }
}

.intro-img{
  .flex(0 0 50%);
  padding-top:30px;

  @media @tablet{
    max-width:250px;
  }
}



.section{
  .display-flex;
  max-width: 1100px;
  margin: 0 auto;
  .align-items(center);
  .justify-content(space-between);
  padding:50px 20px 70px;
  border-bottom:1px solid #ccc;

  @media @tablet{
    .flex-direction(column);
  }

  &.center{
    padding:100px 20px;
    text-align:center;
    .flex-direction(column);
  }

  &.reverse{
    .flex-direction(row-reverse);
  }
}

.section-text{
  .flex(0 0 47%);
  padding-right:20px;

  @media @tablet{
    padding:0;
  }

  &.slideshow{
    .flex(0 0 38%);
  }

  .event{
    max-width:600px;
    line-height:1;
    margin-bottom:10px;
    font-size:2em;

    @media @tablet{
      font-size:30px;
    }

    &.center{
      margin: 0 auto;
    }
  }

  .timestamp{
    font-family:Sanchez-bold;
    letter-spacing:1px;
    font-size:13px;
    color:red;

    @media @tablet{
      font-size:10px;
    }
  }

  p{
    padding:0;
    max-width:480px;
    margin:0;
    font-size:17px;

    &.center{
      margin:10px auto;
      max-width: 730px;
      text-align: left;
    }
  }
}

.section-asset{
  .flex(0 0 50%);
  padding-top:30px;
  width:100%;
}

.post-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 35px;
height: 0;
overflow: hidden;
}

.blink{
  color:#000;
  font-size:20px;
  font-family:Hackman-bold;

  @media @tablet{
    font-size:14px;
  }
}


progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 37px;
  z-index:100;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: red;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: red;
}

progress::-moz-progress-bar {
  background-color: red;
}
