.frontpagegif {
  max-width: 350px;

  @media @tablet{
    margin: 1.5em auto 0;
  }
}

.inline-img{
  margin:1em auto 2em;
}
.top-section{
  .display-flex;
  .align-items(center);
  background:#333;
  color:#fff;

  @media @tablet{
    .flex-direction(column-reverse);
  }
}

.intro-text{
  .flex(0 0 50%);

  .title{
    max-width:600px;
    line-height:1;
    padding:50px 0 0;
    width:90%;
    margin-bottom:10px;

    @media @tablet{
      padding:0 10px;
      width:100%;
      margin:20px auto 10px;
      font-size:30px;
      text-align:center;
    }
  }

  .intro{
    font-size:17px;

    @media @tablet{
      border:none;
      margin-bottom:0;
    }

    p{
      padding:0;

      @media @tablet{
        text-align:center;
      }
    }
  }
}

.intro-img{
  .flex(0 0 50%);
  padding-top:30px;

  @media @tablet{
    max-width:250px;
  }
}


.section{
  .display-flex;
  max-width: 1100px;
  margin: 0 auto;
  .align-items(center);
  .justify-content(space-between);
  padding:50px 20px 70px;
  border-bottom:1px solid #ccc;

  @media @tablet{
    .flex-direction(column);
  }

  &.center{
    padding:100px 20px;
    text-align:center;
    .flex-direction(column);
  }

  &.reverse{
    .flex-direction(row-reverse);
  }
  &.allstories {
    padding-bottom: 30px;
    border: 0;
  }
}

.timestamp-hed {
  color: red;
  font-family: @banner;
  font-size: 14px;
  font-weight: 800;
  padding-left: 70px;
  @media @mobile {
    padding-left: 12%;
    padding-bottom: 5px;
    font-size: 11px;
  }
}

.timestamp-explainer {
  font-family: @block-graphics;
  font-size: 14px;
  padding: 10px 0;

  @media @mobile {
    display: none;
  }
  text-align:center;
}

.select-text {
  text-align: center;
  color: @dark-gray;
  font-family: @banner;
  font-weight: 800;
  font-size: 14px;
  padding: 10px 0;
  display: none;

  @media @mobile {
    display: block;
  }
}

select {
  display: none;
  width: 250px;
  height: 30px;
  margin: auto;
  // border: 2px red solid;
  color: #000;
  font-weight: 800;
  box-shadow: 2px 2px 2px 0px #bbbbbb;

  @media @mobile {
    display: block;
  }
}

.timestamp-wrapper {
  padding-bottom: 70px;
  border-bottom:1px solid #ccc;
  text-align: center;
  max-width: 850px;
  margin: auto;

  @media @tablet-horiz {
    margin: 0 10px;
  }

  @media @mobile {
    display: none;
  }
}

.timestamp-link {
  color: #000;
  display: inline-block;
  text-align: center;
  font-family: @block-graphics;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px 10px;
  margin: 5px 2px;
  box-shadow: 2px 2px 2px 0px #bbbbbb;

  &:hover {
    cursor: pointer;
    background: red;
    color: white;
  }
}

.img {
  display: none;
  &.showme {
    display: block;
  }
}

.section-text{
  .flex(0 0 47%);
  padding-right:20px;

  &.day{
    .flex(0 0 60%);
  }

  @media @tablet{
    padding:0;
  }

  &.slideshow{
    .flex(0 0 38%);
  }

  .event{
    max-width:600px;
    line-height:1;
    margin-bottom:10px;
    font-size:2em;

    @media @tablet{
      font-size:30px;
    }

    &.center{
      margin: 0 auto;
    }
  }

  .timestamp{
    font-family:Sanchez-bold;
    letter-spacing:1px;
    font-size:13px;
    color:red;

    @media @tablet{
      font-size:10px;
    }
  }

  p{
    padding:0;
    max-width:500px;
    margin:0;
    font-size:17px;

    &.center{
      margin:10px auto;
      max-width: 730px;
      text-align: left;
    }
  }
}

.section-asset{
  .flex(0 0 50%);
  padding-top:30px;
  width:100%;

  &.day{
    .flex(0 0 30%);
  }
}

.post-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 35px;
height: 0;
overflow: hidden;
}

.blink{
  color:#000;
  font-size:20px;
  font-family:Hackman-bold;

  @media @tablet{
    font-size:14px;
  }
}

.width400 {
  max-width: 400px;
  @media @mobile {
    max-width: 100%;
  }
}

.width500 {
  max-width: 500px;
  @media @mobile {
    max-width: 100%;
  }
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 37px;
  z-index:100;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: red;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: red;
}

progress::-moz-progress-bar {
  background-color: red;
}


#wrapper {
  width: 100%;
  max-width:500px;
  margin: 50px auto 20px;
  text-align: center;
}

#runalerts{
  background: red;
  display: inline-block;
  color: white;
  padding: 2px 8px;
  text-transform: uppercase;
  font-family: hackman-extrabold;
  font-size: 13px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.chat ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.message-left .message-time {
  display: block;
  font-size: 12px;
  text-align: left;
  padding-left: 30px;
  padding-top: 4px;
  color: #4c4c4c;
  font-family: @block-graphics;
}

.message-left {
  text-align: left;
  margin-bottom: 16px;
}



.message-left .message-text {
  width: 100%;
  display: inline-block;
  background: #fff;
  padding: 15px;
  font-size: 14px;
  color: #000;
  border-radius: 10px;
  font-weight: 100;
  line-height: 1.5em;
  background-image: url(//projects.sfchronicle.com/shared/logos/sfletter_c_black.png);
  background-size: 16px;
  background-position: 15px 16px;
  background-repeat: no-repeat;
  font-family:@body;

    &:before{
    display: inline-block;
    width: 100%;
    content:"SF CHRONICLE";
    margin-left: 22px;
    margin-bottom:10px;
    font-family:Arial, sans-serif;
  }
}

.chat {
  border-radius: 30px;
  padding: 20px;
  background: #f5f7fa;

  @media @mobile{
    padding:20px 10px;
  }
}

.chat-container {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.spinme-right {
  display: none;
}

.spinme-left {
  display: none;
}

.spinner {
  display:none;
}

.quote {
  position: relative;
  @media @mobile {
    padding-left: 10px;
    padding-top: 30px;
  }
}

.huge-quote {
  position: absolute;
  line-height:1;
  font-family: @body;
  font-size: 160px;
  color: red;
  height: 80px;
  width: 120px;
  @media @mobile {
    font-size: 160px;
    top: -10px;
    left: -10px;
  }
}
.small-quote {
  font-family: @body;
  color: red;
}
.quote-text {
  display: block;
  font-style: italic;
  color: @dark-gray;
  padding-left: 80px;
  padding-top: 40px;
  @media @mobile {
    display:inline;
    padding-left: 60px;
  }
}

.author {
  text-align: right;
  padding-right: 100px;
}

.emphasis {
  font-family: @banner;
  text-transform: uppercase;
  color: red;
  font-weight: 800;
}


.overlay-aboutthedata {
  background: rgba(178, 178, 178, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1999;
  display: none;
  &.active {
    display: block;
  }
  overflow-y: scroll;
}

.noscroll {
  overflow: hidden;
}

#aboutthedata-box {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: left;
  background: white;
  padding: 20px;
  padding-bottom: 50px;
  border: 1px solid @dark-gray;
  z-index: 2000;
  margin:auto;
  margin-bottom: 40px;
  max-width: 600px;
  line-height: 1.4;
  font-size: 16px;
  font-family: @med-graphics;
  .source {
    padding-bottom: 10px;
  }
  display: none;
  &.active {
    display: block;
  }
  .close-button {
    width: 100%;
    height: 20px;
    cursor: pointer;
  }
  .fa-times {
    float: right;
    font-size: 20px;
    padding-bottom: 20px;
  }
  @media @mobile {
    width: 80%;
    right: 0;
    left: 0;
  }
}

#aboutthedata {
  cursor: pointer;
  color: @highlight;
  font-family: @bold-graphics;
  padding: 5px 0;
  .fa {
    padding-right: 5px;
  }
}


.readmore{
  display: inline-block;
  padding: 5px 7px;
  text-transform: uppercase;
  font-family: @bold-graphics;
  background: red;
  font-size: 10px;
  cursor:pointer;

  a{
    color:#fff;

    :hover{
      color:#fff;
    }
  }
}

.slideshow{
  max-width:800px;
}

.block{
  max-width: 600px;
  margin: 0 auto;
  font-size: 15px;
  text-align: left;
}

.before-after{
  .display-flex;
  max-width: 600px;
  margin: 0 auto;
  padding:50px 20px 70px;
  font-family: @banner;
  color: red;
  font-size: 15px;

  @media @mobile{
    .flex-direction(column);
  }
}

.before{
  .flex(0 0 50%);
  padding:0 10px;

  img{
    border: 1px solid #9c9c9c;
  }
}

.after{
  .flex(0 0 50%);
  padding:0 10px;

  img{
    border: 1px solid #9c9c9c;
  }
}

.gif-border{
  border:1px solid #ccc;
  max-width:400px;
}

ul{
  padding-left:20px;
}
.list{
  max-width: 540px;
  font-size: 15px;
}

.grid{
  .display-flex;
}

.story{
  .flex(0 0 33%);
}

.pullquote{
  text-align: left;
  max-width:420px;
  padding-left: 20px;
  margin: 20px auto;
  border-left: 5px solid #ccc;

  p{
    font-size: 14px;
    margin-bottom: 10px;
  }
}